nav{
  display: flex;
  background-color: rgb(223, 188, 252);
  align-items: center;
  padding-right: 10px;
}
nav a{
  text-align: right;
  padding-right: 10px;
}

ul{
display: inline-block;
padding: 0px 20px;
}

style{
  solid {border-style: solid;}
}
.ms img{
  width: 120px;
  height: 100px;
}

h1{
    color: rgb(158, 54, 255);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;
        text-align: center;
        color: rgb(223, 188, 252);
        background-color:rgb(253, 41, 112);
        border: 3px solid rgb(255, 146, 192) ;
}
    
img{
        width: 350px;height: 500px;
      } 
body{
    background-image: url(https://i.pinimg.com/564x/10/23/5c/10235c0708228074c02ed07d564cb026.jpg);
background-attachment: fixed; 
background-size: 100% 100%;
color: rgb(253, 41, 112);
text-align: center;
}

 form{
    font-size: smaller;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

a{
  color: rgb(253, 41, 112);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
  color: rgb(158, 54, 255);
}